<FilesMatch ".(ttf|otf|eot|woff|woff2)$">
	<IfModule mod_headers.c>
	  Allow from all
	  Header set Access-Control-Allow-Origin "*"
	</IfModule>
  </FilesMatch>
  <IfModule mod_rewrite.c>
	 RewriteEngine On
	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteCond %{REQUEST_FILENAME} !-d
	 RewriteCond $1 !^(index\.php|assets/|robots\.txt)
	 RewriteRule ^(.*)$ index.php/$1 [L]
  </IfModule>
  